<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{#{% load staticfiles %}#}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block main %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
    {% if search %}
        <br>
    {% else %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'blog:index' %}">
                        最新
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'blog:index' %}?order=total_views">
                        最热
                    </a>
                </li>
            </ol>
        </nav>
    {% endif %}

    <!-- 新增，搜索栏 -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text"
                    class="form-control mb-2 mr-sm-2"
                    name="search"
                    placeholder="搜索文章..."
                    required
                >
            </form>
        </div>
    </div>
​
    <!-- 新增，搜索提示语 -->
    {% if search %}
        {% if post_list %}
            <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>
        {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}

    <div class="row mt-2">

        {% for post in post_list %}
        <!-- 文章内容 -->
            <!-- 标题图 -->
            {% if post.avatar %}
                <div class="col-3">
                    <img src="{{ post.avatar.url }}" alt="avatar" style="max-width:100%; border-radius: 20px">
                </div>
            {% else %}
                <div class="col-3">
                    <img src="https://www.alongparty.cn/img/yindaotu.png" alt="avatar" style="max-width:100%; border-radius: 20px">
                </div>
            {% endif %}
            <div class="col-9">
                <!-- 标题 -->
                <h4>
                    <b><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a>     </b>
                </h4>
                <!-- 摘要 -->
                <div>
                    <p style="color: gray;">{% if post.excerpt %}
{{ post.excerpt }}
                        {% else %}
                        {{ post.body|slice:'100' }}
                    {% endif %}...</p>
                </div>
                <!-- 注脚 -->
                <p>
                    <!-- 附加信息 -->
                    <span style="color: green;">
                        <i class="fas fa-eye">{{ post.total_views }} &nbsp;&nbsp;&nbsp;</i>
                    </span>
                    <span style="color: darkmagenta;">
                        <i class="fas fa-comments">{{ post.comment_set.count }}&nbsp;&nbsp;&nbsp;</i>
                    </span>
                    <span style="color: coral;">
                        <i class="fas fa-clock">
                            {% if post.create_time %}
                                {{ post.create_time|date:'Y-m-d' }} &nbsp;&nbsp;&nbsp;
                            {% elif post.modified_time %}
                                {{ post.modified_time|date:'Y-m-d' }}
                            {% endif %}
                        </i>
                    </span>
                </p>

        </div>
            <hr style="width: 100%;"/>
        {% endfor %}

    </div>
    <!-- 页码导航 -->
    <div class="pagination row">
        <div class="m-auto">
            {% if paginator %}
                <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if page_obj.has_previous%}
                    <a href="?page=1&order={{ order }}&search={{ search }}" class="btn btn-success">
                        &laquo; 1
                    </a>
                    <span>...</span>
                    <a href="?page={{ page_obj.previous_page_number  }}&order={{ order }}&search={{ search }}" class="btn btn-secondary">
                        {{ page_obj.previous_page_number }}
                    </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ page_obj.number }}
                </span>

                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">
                        {{ page_obj.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-success">
                        {{ page_obj.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
            {% endif %}
        </div>
    </div>


</div>
{% endblock main %}